.select-stock-list {
  .table-wrapper {
    background: #fff;
    margin-top: 2px;
    border: 1px solid #ddd;
    height: 500px;
    .head {
      //   height: 50px;
      display: flex;
      align-items: center;
      padding: 20px 20px;
      .create-select-btn {
        width: 155px;
        height: 36px;
        text-align: center;
        line-height: 36px;
        background: #2a89ff;
        border-radius: 18px;
        font-size: 14px;
        font-weight: bold;
        color: #ffffff;
        cursor: pointer;
        &:active {
          opacity: 0.5;
        }
      }
    }
    .table {
      width: 100%;
      border: 1px solid #e5e5e5;
      border-bottom: none;
      padding: 1px 1px 0 1px;
      .t-body {
        width: 100%;
      }
      .table-header {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        td {
          flex: 1;
          font-size: 14px;
          color: #5870a2;
          font-weight: bold;
          display: flex;
          box-sizing: border-box;
          padding: 5px 0;
          justify-content: center;
          text-align: center;
          background: rgba(51, 102, 204, 0.1);
          border-right: 0.5px solid #fff;

          &:last-child {
            border-right: none;
          }
        }
      }
      .table-item {
        display: flex;
        box-sizing: border-box;
        width: 100%;
        td {
          flex: 1;
          font-size: 14px;
          color: #222;
          display: flex;
          box-sizing: border-box;
          text-align: center;
          padding: 8.8px 0;
          justify-content: center;
          text-align: center;
          border-right: 0.5px solid #e5e5e5;
          border-bottom: 0.5px solid #e5e5e5;
          &.trade-report {
            font-size: 12px;
          }
          &:last-child {
            border-right: none;
          }
          &.operate {
            .btn {
              color: #2a89ff;
              cursor: pointer;
              margin-right: 20px;
              &.deploy {
                width: 71px;
                text-align: center;
              }
              &:last-child {
                margin-right: 0;
              }
              &:active {
                opacity: 0.5;
              }
              &.delete {
                color: #fa6d41;
              }
            }
          }
        }
      }
    }
    .no-data {
      text-align: center;
      height: 300px;
      line-height: 300px;
      font-size: 16px;
      color: #333;
    }
  }
  .pagination-wrapper {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
