.select-stock-wrapper {
  .condition-wrapper {
    font-size: 14px;
    color: #333;
    .range-title {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .range-list {
      display: flex;
      align-items: flex-start;
      margin-top: 30px;
      flex-wrap: wrap;
      .range-list-item {
        margin-right: 20px;
        margin-bottom: 20px;
      }

      .range-item-title {
        margin-left: 65px;
      }
    }
    .select-indicate {
      margin-top: 30px;
      .input {
        width: 260px;
        height: 35px;
        margin-left: 10px;
        border: 1px solid #bfbfbf;
        padding-left: 10px;
        font-size: 13px;
      }
    }
    .tab-indicate {
      margin-top: 30px;
      .ant-tabs-bar.ant-tabs-top-bar.ant-tabs-card-bar {
        margin-bottom: 0;
      }
      .ant-tabs-tab-active.ant-tabs-tab {
        margin-right: 0 !important;
      }
      .ant-tabs-content.ant-tabs-content-no-animated.ant-tabs-top-content.ant-tabs-card-content {
        background: #fff;
        border-right: 1px solid #e8e8e8;
        border-left: 1px solid #e8e8e8;
        border-bottom: 1px solid #e8e8e8;
        padding: 18px 20px 0 18px;
      }
      .finance {
        display: flex;
        flex-wrap: wrap;
        .select-item {
          display: inline-flex;
          box-sizing: border-box;
          cursor: pointer;
          width: 200px;
          min-height: 30px;
          justify-content: space-between;
          align-items: center;
          padding: 0 8px;
          margin-right: 15px;
          margin-bottom: 20px;

          &:active {
            opacity: 0.5;
          }
          &.active {
            background: #dbe9ff;
          }
        }
      }
    }
    .has-select {
      margin-top: 30px;
      .select-list {
        box-sizing: border-box;
        padding: 30px 115px 22px 35px;
        border: 1px solid #ededed;
        background: #fff;
        margin-top: 10px;
        .select-list-header {
          display: flex;
          justify-content: space-between;
          font-size: 13px;
          color: #7f7f7f;
        }
        .indicate-item {
          display: flex;
          align-items: center;
          font-size: 13px;
          margin-top: 25px;
          .name {
            display: inline-block;
            width: 240px;
          }
          .delete {
            width: 18px;
            height: 18px;
            cursor: pointer;
            &:active {
              opacity: 0.5;
            }
          }
          .value {
            margin-left: 120px;
            width: 485px;
            .has-select-input {
              width: 180px;
              height: 32px;
              padding-left: 10px;
              border: 1px solid #ddd;
            }
          }
          .blank {
            margin-left: 120px;
            width: 485px;
          }
        }
        .mark {
          font-size: 13px;
          color: #999;
          margin-top: 30px;
        }
      }
    }
    .bottom {
      margin-top: 30px;
      font-size: 19px;
      .bottom-number {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      > .stock-list {
        margin-top: 20px;
        .stock-item {
          display: inline-block;
          font-size: 14px;
          margin-right: 20px;
          width: 150px;
          color: #333;
          cursor: pointer;
          &:active{
            opacity: 0.5;
          }
        }
      }
      .next-btns {
        width: 120px;
        height: 29px;
        background: #2a89ff;
        text-align: center;
        line-height: 29px;
        color: #fff;
        border-radius: 14px;
        font-size: 13px;
        cursor: pointer;
        &:active {
          opacity: 0.5;
        }
      }
    }
    .begin-select {
      width: 120px;
      height: 29px;
      background: #2a89ff;
      text-align: center;
      line-height: 29px;
      color: #fff;
      border-radius: 14px;
      font-size: 13px;
      cursor: pointer;
      margin: 0 auto;
      margin-top: 30px;
      &:active {
        opacity: 0.5;
      }
    }
  }
}

.ant-modal-content {
  .ant-modal-title {
    text-align: center;
  }
  .ant-modal-body {
    .save-modal {
      .save-name {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        > input {
          width: 350px;
          height: 35px;
          border: 1px solid #ddd;
          padding-left: 10px;
        }
      }
      .discrib{
        display: flex;
        align-items: flex-start;
        >textarea{
          width: 350px;
          height: 200px;
          border: 1px solid #ddd;
          resize: none;
          padding: 5px 10px;
        }
      }
    }
  }
}
